<!DOCTYPE html>
{% load static %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/quizzes/css/styles.css' %}">
    <title>Studis-Assistent - Guidelines</title>
</head>

<body>

{% include 'quizzes/header.html' %}
{% include 'quizzes/navbar.html' %}
<!-- <nav>
    <ul>
        <li>
            <a href="index.html">
                <img src="icons/home.png" alt="Home Icon" class="icon">
                Home
            </a>
        </li>
        <li>
            <a href="KI-Helfer.html">
                <img src="icons/AI.png" alt="AI Icon" class="icon">
                KI-Helfer
            </a>
        </li>
        <li class="dropdown">
            <a href="wissenschaftliche_arbeit.html" class="dropbtn">
                <img src="icons/WA.png" alt="WA Icon" class="icon">
                Wissenschaftliches Arbeiten
            </a>
            <div class="dropdown-content">
                <a href="tools.html">Tools</a>
                <a href="tipps.html">Tipps</a>
                <a href="guidelines.html">Guidelines</a>
            </div>
        </li>
    </ul>
</nav> -->


<main>
    <section class="guidelines">
        <h1>Richtlinien</h1>
        <p>Willkommen im Richtlinien-Bereich des Studis-Assistenten. Hier finden Sie wertvolle Richtlinien und<br>
            Informationen. Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis rem quaerat
            ratione fugit in <br> aliquid, officiis magnam, provident esse, distinctio illum. Fehler im Schmerz verweigern
            cupiditate
            amet tempore libero totam eaque?</p>

    </section>
</main>

{% include 'quizzes/footer.html' %}
<!--    <script src="script.js"></script>-->
<script src="{% static 'quizess/js/script.js' %}"></script>

</body>

</html>