 <header>
{% load static %}

        <a href="index.html">
            <div class="logo">
                <a href="{% url 'index' %}">
                <img src="{% static 'quizzes/logo.jpg' %}" alt="Studis-Assistent Logo">
                    </a>
            </div>
        </a>
        <div class="site-name">
            <h1>Studies-Assistent</h1>
        </div>
        <div class="menu-toggle">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>



    </header>